*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #2a2a2a; 
}
.container{
    max-width: 1600px;
}
header{
    background-color: rgb(155, 155, 247);
    color: white;
}
.logo{
    height: 25px;
    width: 100px;
    margin-left: 50px;
    margin-top: 10px;
    display: inline-block;
}
.header-div{
    font-size: 15px;
    display: inline-block;
    padding: 10px;
    margin-bottom: 10px;
}
.header-dark{
    background-color: blue;
    padding: 20px;
}
.logo2{
    height: 25px;
    width: 100px;
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
}
.search{
    display: inline-block;
    margin-left: 550px;
    width: 350px;
}
section {
    background-color: white;
    padding: 10px; 
    width: 1095px;
    height: 800px;
    margin-left: 50px;
    display: block;
}
.top-section-right{
    text-align: right;
    margin-right: 70px;
}
.main-section-top,
.main-section-right{
    text-align: right;
    margin-right: 70px;
}
.top-section {
    margin: 0; 
    padding: 10px 50px;
}